.product-page{
    width: 1140px;
    display: flex;
    flex-direction: row;
    gap: 50px;

    .product-left{
        display: flex;

        .product-images{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: flex-start;
            justify-content: center;
            gap: 10px;

            .product-img{
                width: calc(25% - 10px);
                transition: all 600ms;
                &:hover{
                    transform: scale(1.1);
                }
            }

            .product-img:first-child{
                width: calc(100% - 10px);
                &:hover{
                    transform: scale(1)
                }
            }


        }
    }

    .product-right{
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .product-name{
            font-size: 50px;
            text-transform: uppercase;
            color: rgb(238, 215, 5);
            position: relative;
        }
        .promo-icon{
            color: #ffffff;
            background-color: #ff0000;
            width: 45px;
            height: 45px;
            font-size: 26px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 100;
        }
        .product-category{
            font-size: 20px;
            font-weight: 400;
        }

        .product-sku{
            font-size: 16px;
            font-weight: 100;
        }
        
        .product-qty{
            font-size: 16px;
            font-weight: 300;
        }

        .product-price{
            font-size: 30px;
            font-weight: 900;
            .regular-price{
                font-weight: 400;
                text-decoration: line-through;
            }
            .sale-price{
                color: #ff0000;
            }
        }

        .product-description{
            font-size: 16px;
            line-height: 150%;
        }
    }

}

